*idea
data
*.pyc
app/raw/translation/*
app/venv/*
node_modules/*
tor_proxy
logs/*
config/i2p/peerProfiles/*
config/i2p/rrd/*
config/i2p/netDb/*
global_raw
env/*
.env
venv/*
app/data/*
app/logs/*
mongo-data/*
app/raw/model/*
static/trustly/.well-known/model/toxic-model.zip
app/api/raw/model/*
config/i2p/*
config/i2p/eventlog.txt
config/i2p/router.info
config/i2p/router.ping
config/i2p/wrapper.log
config/i2p/logs/*
config/i2p/router.config
config/i2p/hostsdb.blockfile
config/i2p/addressbook/log.txt
config/i2p/addressbook/last_modified
config/i2p/addressbook/last_fetched
config/i2p/addressbook/etags
