[MASTER]

extension-pkg-whitelist=

ignore=CVS

ignore-patterns=



jobs=1

limit-inference-results=100

load-plugins=

persistent=yes


suggestion-mode=yes

unsafe-load-any-extension=no


[MESSAGES CONTROL]

confidence=

disable=blacklisted-name,
        invalid-name,
        missing-docstring,
        empty-docstring,
        unneeded-not,
        singleton-comparison,
        misplaced-comparison-constant,
        unidiomatic-typecheck,
        consider-using-enumerate,
        consider-iterating-dictionary,
        bad-classmethod-argument,
        bad-mcs-method-argument,
        bad-mcs-classmethod-argument,
        single-string-used-for-slots,
        line-too-long,
        too-many-lines,
        trailing-whitespace,
        missing-final-newline,
        trailing-newlines,
        multiple-statements,
        superfluous-parens,
        bad-whitespace,
        mixed-line-endings,
        unexpected-line-ending-format,
        bad-continuation,
        wrong-spelling-in-comment,
        wrong-spelling-in-docstring,
        invalid-characters-in-docstring,
        multiple-imports,
        wrong-import-order,
        ungrouped-imports,
        wrong-import-position,
        useless-import-alias,
        len-as-condition,
        syntax-error,
        unrecognized-inline-option,
        bad-option-value,
        function-redefined,
        used-prior-global-declaration,
        misplaced-format-function,
        invalid-length-returned,
        relative-beyond-top-level,
        undefined-variable,
        no-name-in-module,
        no-member,
        no-value-for-parameter,
        too-many-function-args,
        unsupported-assignment-operation,
        unsupported-delete-operation,
        invalid-metaclass,
        unhashable-dict-key,
        bad-string-format-type,
        invalid-envvar-value,
        print-statement,
        parameter-unpacking,
        non-ascii-bytes-literal,
        fatal,
        astroid-error,
        parse-error,
        method-check-failed,
        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        c-extension-no-member,
        literal-comparison,
        comparison-with-itself,
        no-self-use,
        no-classmethod-decorator,
        no-staticmethod-decorator,
        useless-object-inheritance,
        cyclic-import,
        duplicate-code,
        too-many-ancestors,
        too-many-instance-attributes,
        too-few-public-methods,
        too-many-public-methods,
        too-many-return-statements,
        too-many-branches,
        too-many-arguments,
        too-many-locals,
        too-many-statements,
        too-many-boolean-expressions,
        consider-merging-isinstance,
        too-many-nested-blocks,
        simplifiable-if-statement,
        redefined-argument-from-local,
        no-else-return,
        consider-using-ternary,
        trailing-comma-tuple,
        stop-iteration-return,
        simplify-boolean-expression,
        inconsistent-return-statements,
        useless-return,
        consider-swap-variables,
        consider-using-join,
        consider-using-in,
        consider-using-get,
        chained-comparison,
        consider-using-dict-comprehension,
        consider-using-set-comprehension,
        simplifiable-if-expression,
        no-else-raise,
        expression-not-assigned,
        assign-to-new-keyword,
        useless-else-on-loop,
        comparison-with-callable,
        attribute-defined-outside-init,
        protected-access,
        abstract-method,
        super-init-not-called,
        no-init,
        useless-super-delegation,
        relative-import,
        fixme,
        unused-variable,
        unused-argument,
        redefined-outer-name,
        redefined-builtin,
        unbalanced-tuple-unpacking,
        possibly-unused-variable,
        self-cls-assignment,
        try-except-raise,
        raising-format-tuple,
        wrong-exception-operation,
        keyword-arg-before-vararg,
        logging-not-lazy,
        logging-fstring-interpolation,
        unused-format-string-key,
        unused-format-string-argument,
        duplicate-string-formatting-argument,
        implicit-str-concat-in-sequence,
        boolean-datetime,
        deprecated-method,
        bad-thread-instantiation,
        shallow-copy-environ,
        invalid-envvar-default,
        subprocess-popen-preexec-fn,
        apply-builtin,
        basestring-builtin,
        buffer-builtin,
        cmp-builtin,
        coerce-builtin,
        execfile-builtin,
        file-builtin,
        long-builtin,
        raw_input-builtin,
        reduce-builtin,
        standarderror-builtin,
        unicode-builtin,
        xrange-builtin,
        no-absolute-import,
        metaclass-assignment,
        reload-builtin,
        oct-method,
        input-builtin,
        round-builtin,
        intern-builtin,
        unichr-builtin,
        map-builtin-not-iterating,
        zip-builtin-not-iterating,
        range-builtin-not-iterating,
        filter-builtin-not-iterating,
        eq-without-hash,
        div-method,
        idiv-method,
        rdiv-method,
        exception-message-attribute,
        invalid-str-codec,
        sys-max-int,
        bad-python3-import,
        deprecated-string-function,
        deprecated-str-translate-call,
        deprecated-itertools-function,
        deprecated-types-field,
        next-method-defined,
        dict-items-not-iterating,
        dict-keys-not-iterating,
        dict-values-not-iterating,
        deprecated-operator-function,
        deprecated-urllib-function,
        xreadlines-attribute,
        deprecated-sys-function,
        exception-escape,
        comprehension-escape

enable=init-is-generator,
       return-in-init,
       not-in-loop,
       return-outside-function,
       yield-outside-function,
       return-arg-in-generator,
       nonexistent-operator,
       duplicate-argument-name,
       abstract-class-instantiated,
       bad-reversed-sequence,
       too-many-star-expressions,
       invalid-star-assignment-target,
       star-needs-assignment-target,
       nonlocal-and-global,
       continue-in-finally,
       nonlocal-without-binding,
       method-hidden,
       access-member-before-definition,
       no-method-argument,
       no-self-argument,
       invalid-slots-object,
       assigning-non-slot,
       invalid-slots,
       inherit-non-class,
       inconsistent-mro,
       duplicate-bases,
       non-iterator-returned,
       unexpected-special-method-signature,
       import-error,
       used-before-assignment,
       undefined-all-variable,
       invalid-all-object,
       unpacking-non-sequence,
       bad-except-order,
       raising-bad-type,
       bad-exception-context,
       misplaced-bare-raise,
       raising-non-exception,
       notimplemented-raised,
       catching-non-exception,
       bad-super-call,
       missing-super-argument,
       not-callable,
       assignment-from-no-return,
       unexpected-keyword-arg,
       redundant-keyword-arg,
       missing-kwoa,
       invalid-sequence-index,
       invalid-slice-index,
       assignment-from-none,
       not-context-manager,
       invalid-unary-operand-type,
       unsupported-binary-operation,
       repeated-keyword,
       not-an-iterable,
       not-a-mapping,
       unsupported-membership-test,
       unsubscriptable-object,
       logging-unsupported-format,
       logging-format-truncated,
       logging-too-many-args,
       logging-too-few-args,
       bad-format-character,
       truncated-format-string,
       mixed-format-string,
       format-needs-mapping,
       missing-format-string-key,
       too-many-format-args,
       too-few-format-args,
       bad-str-strip-call,
       unpacking-in-except,
       old-raise-syntax,
       backtick,
       long-suffix,
       old-ne-operator,
       old-octal-literal,
       import-star-module-level,
       yield-inside-async-function,
       not-async-context-manager,
       unreachable,
       dangerous-default-value,
       pointless-statement,
       pointless-string-statement,
       unnecessary-pass,
       unnecessary-lambda,
       duplicate-key,
       exec-used,
       eval-used,
       confusing-with-statement,
       using-constant-test,
       lost-exception,
       assert-on-tuple,
       bad-staticmethod-argument,
       arguments-differ,
       signature-differs,
       non-parent-init-called,
       unnecessary-semicolon,
       bad-indentation,
       mixed-indentation,
       wildcard-import,
       deprecated-module,
       reimported,
       import-self,
       misplaced-future,
       invalid-encoded-data,
       global-variable-undefined,
       global-variable-not-assigned,
       global-statement,
       global-at-module-level,
       unused-import,
       unused-wildcard-import,
       redefine-in-handler,
       undefined-loop-variable,
       cell-var-from-loop,
       bare-except,
       broad-except,
       duplicate-except,
       binary-op-exception,
       logging-format-interpolation,
       bad-format-string-key,
       bad-format-string,
       missing-format-argument-key,
       format-combined-specification,
       missing-format-attribute,
       invalid-format-index,
       anomalous-backslash-in-string,
       anomalous-unicode-escape-in-string,
       bad-open-mode,
       redundant-unittest-assert,
       coerce-method,
       delslice-method,
       getslice-method,
       setslice-method,
       old-division,
       dict-iter-method,
       dict-view-method,
       next-method-called,
       indexing-exception,
       raising-string,
       hex-method,
       nonzero-method,
       cmp-method,
       using-cmp-argument


[REPORTS]

evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)


output-format=text

reports=no

score=yes


[REFACTORING]

max-nested-blocks=5

never-returning-functions=sys.exit


[MISCELLANEOUS]

notes=FIXME,
      XXX,
      TODO


[BASIC]

argument-naming-style=snake_case


attr-naming-style=snake_case


bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata

class-attribute-naming-style=any


class-naming-style=PascalCase


const-naming-style=UPPER_CASE


docstring-min-length=-1

function-naming-style=snake_case


good-names=i,
           j,
           k,
           ex,
           Run,
           _

include-naming-hint=no

inlinevar-naming-style=any


method-naming-style=snake_case


module-naming-style=snake_case


name-group=

no-docstring-rgx=^_

property-classes=abc.abstractproperty

variable-naming-style=snake_case



[SPELLING]

max-spelling-suggestions=4

spelling-dict=

spelling-ignore-words=

spelling-private-dict-file=

spelling-store-unknown-words=no


[SIMILARITIES]

ignore-comments=yes

ignore-docstrings=yes

ignore-imports=no

min-similarity-lines=4


[STRING]

check-str-concat-over-line-jumps=no


[LOGGING]

logging-format-style=old

logging-modules=logging


[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager

generated-members=

ignore-mixin-members=yes

ignore-none=yes

ignore-on-opaque-inference=yes

ignored-classes=optparse.Values,thread._local,_thread._local

ignored-modules=twisted.internet.reactor

missing-member-hint=yes

missing-member-hint-distance=1

missing-member-max-choices=1


[FORMAT]

expected-line-ending-format=

ignore-long-lines=^\s*(# )?<?https?://\S+>?$

indent-after-paren=4

indent-string='    '

max-line-length=100

max-module-lines=1000

no-space-check=trailing-comma,
               dict-separator

single-line-class-stmt=no

single-line-if-stmt=no


[VARIABLES]

additional-builtins=

allow-global-unused-variables=yes

callbacks=cb_,
          _cb

dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

ignored-argument-names=_.*|^ignored_|^unused_

init-import=no

redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io


[CLASSES]

defining-attr-methods=__init__,
                      __new__,
                      setUp

exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make

valid-classmethod-first-arg=cls

valid-metaclass-classmethod-first-arg=cls


[IMPORTS]

allow-wildcard-with-all=no

analyse-fallback-blocks=no

deprecated-modules=optparse,tkinter.tix

ext-import-graph=

import-graph=

int-import-graph=

known-standard-library=

known-third-party=enchant


[DESIGN]

max-args=5

max-attributes=7

max-bool-expr=5

max-branches=12

max-locals=15

max-parents=7

max-public-methods=20

max-returns=6

max-statements=50

min-public-methods=2


[EXCEPTIONS]

overgeneral-exceptions=BaseException,
                       Exception
