presidio-analyzer==2.2.359

requests
numpy
transformers
pymongo
phonenumbers
redis
python-dotenv
validators
Pillow
onnxruntime
scikit-image
pydantic
torch
fastapi
progressbar2
httpcore
RapidFuzz
PyMuPDF
pycountry
python-multipart
playwright
httpx
uvicorn
stem
bs4
coinaddrvalidator
spacy
pdf2image
pytesseract
filetype
iocextract
ioc-finder
nltk
python-owasp-zap-v2.4
sentence-transformers
twitter-text
langdetect
argostranslate
pytesseract
Pillow