fastapi
uvicorn[standard]
pydantic
python-multipart
playwright
sherlock-project
maigret
rapidfuzz
holehe
email-validator
ddgs
redis==5.0.0
requests
PySocks
beautifulsoup4
tranco
PicImageSearch
TikTokApi
tldextract
transformers
